@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    --color-1: hsl(0, 0%, 100%);
    --font-color: hsl(270, 3%, 87%);
    --font-color-2: hsl(278, 68%, 11%);
    --font-color-3: hsl(279, 6%, 55%);
    --linear-gradient: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)); /* Active input */
    --input-error: hsl(0, 100%, 66%);
}